@import '../variables';

.can-help {
  padding: 100px 0;
  height: 620px;

  background-color: $color-gray;

  &__title {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 72px;
    line-height: 70px;

    color: black;

    span {
      font-family: $font-family-book;
      color: $color-accent;
    }
  }

  &__message {
    max-width: 497px;

    font-size: 24px;
    line-height: 32px;

    span {
      color: $color-accent;
    }
  }

  .container {
    background-position: right 0;
    background-repeat: no-repeat;
    background-image: url('/images/help.jpg');
    background-size: contain;

    @media (max-width: $screen-md-max) {
      background-image: none;
    }
  }

  ._picture {
    display: none;
    order: -1;

    @media (max-width: $screen-md-max) {
      display: block;
    }
  }

  @media (max-width: $screen-md-max) {
    padding-top: 30px;
    padding-bottom: 70px;

    height: auto;

    &__title {
      font-size: 40px;
      line-height: 50px;

      span {
        display: initial;
      }
    }
  }
}
