@import '../variables';

.wrapper._contacts {
  .hero {
    background-image: url('/images/hero-contacts.jpg');

    &__title {
      max-width: 600px;

      @media (max-width: $screen-sm-max) {
        font-size: 70px;
      }
    }
  }

  .badge {
    position: static;

    @media (max-width: $screen-sm-max) {
      left: initial;
      bottom: initial;
      transform: initial;
    }
  }

  .feedback {
    padding-bottom: 24px;
  }

  .footer {
    margin-top: 0;
  }
}

.contacts {
  padding: 130px 0 60px 0;

  @media (max-width: $screen-sm-max) {
    padding: 0;
  }

  &__title {
    font-family: $font-family-bold;
    font-size: 100px;
    line-height: 1;

    text-align: center;

    color: $color-black;

    span {
      color: $color-accent;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 50px;
    }
  }
}

.contacts-list {
  z-index: 1;
  padding-top: 80px;

  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .contacts-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 480px;

    background-color: $color-primary;

    border-radius: 650px 650px 0 0;

    li {
      width: auto;
      margin-bottom: 70px;

      &:nth-child(2) {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
        a img {
          width: 48px;
        }
      }
    }

    a {
      display: flex;
      align-items: center;

      color: $color-white;

      font-family: $font-family-book;
      font-size: 36px;
      line-height: 43px;

      img {
        width: 70px;
        margin-right: 30px;
      }
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-top: 0;

    .container {
      padding: 0;
    }

    .contacts-list-wrapper {
      height: initial;
      padding: 40px 20px 40px 70px;

      border-radius: 0;

      li {
        width: 100%;

        &:last-child {
          margin-bottom: 0;
          a img {
            width: 76px;
          }
        }
      }

      a {
        font-size: 24px;
        font-weight: bold;

        img {
          width: 42px;
        }
      }
    }
  }
}
