@import '../variables';

.map {
  margin-top: -30px;
}

.ymaps {
  filter: grayscale(1);
  width: 100%;
  height: 800px;
  margin: 0;
  padding: 0;

  pointer-events: none;

  @media (max-width: $screen-xs-max) {
    height: 460px;
  }

  &::selection {
    background-color: transparent;
  }
}
