{{#with services}}
<section
  id="services"
  class="services"
>
  <div class="container">
    <ul class="services-list _first row">
      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/images/estate-legal.png')"
      >
        <a
          href="/services.html"
          class="services-list__item-title"
        >Легализация объектов недвижимости</a>
        <div class="spacer"></div>
        <img
          src="/images/arrow-right_white.png"
          alt="Перейти"
          class="_align-self-end"
        />
      </li>

      <li class="services-list__item _dark col-3 col-sm-6">
        <a
          href="/services.html"
          class="services-list__item-title"
        >Оспаривание в судебном порядке</a>
        <div class="spacer"></div>
        <img
          src="/images/arrow-right_primary.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/images/landmark.jpg')"
      >
        <a
          href="/services.html"
          class="services-list__item-title"
        >Работа с земельными участками</a>
        <div class="spacer"></div>
        <img
          src="/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/images/building.jpg')"
      >
        <a
          href="/services.html"
          class="services-list__item-title"
        >Выкуп по 159-фз нежилых помещений и зданий</a>
        <div class="spacer"></div>
        <img
          src="/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li class="services-list__item _empty col-3 col-sm-6"></li>

      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/images/estate-consulting.jpg')"
      >
        <a
          href="/services.html"
          class="services-list__item-title"
        >Консультации в сфере недвижимости</a>
        <div class="spacer"></div>
        <img
          src="/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li class="services-list__item col-3 col-sm-6">
        <a
          href="/services.html"
          class="services-list__item-title"
        >Внесение изменений в ПЗЗ</a>
        <div class="spacer"></div>
        <img
          src="/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li class="services-list__item _link col-3 col-sm-6">
        <a
          href="/services.html"
          class="shape"
        >
          <span>ВСЕ УСЛУГИ</span>
        </a>
      </li>
    </ul>

    <div id="services-slider" class="services-slider">
      <ul class="swiper-wrapper">
        <li
          class="services-list__item swiper-slide"
          style="background-image:url('/images/estate-legal.png')"
        >
          <a
            href="/services.html"
            class="services-list__item-title"
          >Легализация объектов недвижимости</a>
          <div class="spacer"></div>
          <img
            src="/images/arrow-right_white.png"
            alt="Перейти"
            class="_align-self-end"
          />
        </li>

        <li class="services-list__item swiper-slide _dark">
          <a
            href="/services.html"
            class="services-list__item-title"
          >Оспаривание в судебном порядке</a>
          <div class="spacer"></div>
          <img
            src="/images/arrow-right_primary.png"
            alt="Перейти"
            class="services-list__item-link"
          />
        </li>

        <li
          class="services-list__item swiper-slide"
          style="background-image:url('/images/landmark.jpg')"
        >
          <a
            href="/services.html"
            class="services-list__item-title"
          >Работа с земельными участками</a>
          <div class="spacer"></div>
          <img
            src="/images/arrow-right_white.png"
            alt="Перейти"
            class="services-list__item-link"
          />
        </li>

        <li
          class="services-list__item swiper-slide"
          style="background-image:url('/images/building.jpg')"
        >
          <a
            href="/services.html"
            class="services-list__item-title"
          >Выкуп по 159-фз нежилых помещений и зданий</a>
          <div class="spacer"></div>
          <img
            src="/images/arrow-right_white.png"
            alt="Перейти"
            class="services-list__item-link"
          />
        </li>

        <li
          class="services-list__item swiper-slide"
          style="background-image:url('/images/estate-consulting.jpg')"
        >
          <a
            href="/services.html"
            class="services-list__item-title"
          >Консультации в сфере недвижимости</a>
          <div class="spacer"></div>
          <img
            src="/images/arrow-right_white.png"
            alt="Перейти"
            class="services-list__item-link"
          />
        </li>

        <li class="services-list__item swiper-slide">
          <a
            href="/services.html"
            class="services-list__item-title"
          >Внесение изменений в ПЗЗ</a>
          <div class="spacer"></div>
          <img
            src="/images/arrow-right_white.png"
            alt="Перейти"
            class="services-list__item-link"
          />
        </li>
      </ul>
    </div>

    <ul class="row services-slider">
      <li class="services-list__item col-12 _link">
        <a
          href="/services.html"
          class="shape"
        >
          <span>ВСЕ УСЛУГИ</span>
        </a>
      </li>
    </ul>
  </div>
</section>
{{/with}}
