<button
  id="menu-button"
  type="button"
  class="sidebar__button _white hamburger hamburger--spring {{variant}}"
  aria-label="Menu"
  aria-controls="navigation"
>
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

{{#with header}}
<aside
  id="sidebar"
  class="sidebar"
>
  <div class="sidebar__content">
    <ul class="sidebar-menu col-5">
      {{#each menu}}
      <li class="sidebar-menu__item">
        <a
          href="{{this.link}}{{this.anchor}}"
          class="sidebar-menu__item-link"
        >{{this.text}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</aside>
{{/with}}
