@import '../variables';

.wrapper._services {
  @media (max-width: $screen-sm-max) {
  }

  .our-cases {
    .projects-list {
      margin-top: 0;
    }

    @media (max-width: $screen-sm-max) {
      padding: 0;

      .container {
        padding: 0;
      }

      .projects-list {
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .services {
    .container {
      padding: 0 40px;
    }
  }
}

.services-list {
  &.row {
    gap: 0
  }

  &__item {
    display: flex;
    flex-direction: column;

    aspect-ratio: 1 / 1;

    min-height: 296px;
    padding: 16px 24px 20px 24px;

    color: $color-white;
    background-color: $color-primary;

    text-shadow: 0 4px 7px rgba(0, 0, 0, 0.33);

    &._dark {
      color: $color-primary;
      text-shadow: none;
      background-color: $color-white;
    }

    &._empty {
      background-color: initial;
    }

    &._link {
      $size: 191px;
      justify-content: center;
      align-items: center;
      padding: 0;

      background-color: initial;

      .shape {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $size;
        height: $size;

        text-align: center;
        font-size: 18px;
        line-height: 24px;

        color: $color-black;
        background-color: $color-white;
        text-shadow: none;

        border: 3px solid $color-accent;
        border-radius: 50%;
      }
    }

    @media (max-width: $screen-sm-max) {
      img {
        width: 55px;
      }
    }
  }

  &__item-title {
    font-family: $font-family-book;
    font-weight: bold;

    color: inherit;

    font-size: 30px;
    line-height: 35px;

    @media (max-width: $screen-sm-max) {
      font-size: 25px;
    }
  }

  &__item-link {
    align-self: flex-end;
    width: 55px;
  }
}

.services-slider {
  display: none;
}

.services-projects-slider {
  display: none;
  position: relative;

  @media (max-width: $screen-sm-max) {
    display: block;
  }

  .project-item {
    margin-bottom: 0;
  }

  &__pagination {
    position: absolute !important;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 370px;

    height: 70px;

    background-color: $color-white;

    border: 1px solid #CECECE;
    border-top: none;
  }

  &__pagination-bullet {
    display: block;

    width: 24px;
    height: 24px;

    margin-left: 28px;

    background-color: $color-primary;
    cursor: pointer;

    border-radius: 50%;
    border: 3px solid $color-white;
    transition: all .2s ease-in-out;

    &.swiper-pagination-bullet-active {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }

  @media (max-width: $screen-sm-max) {
    &__pagination-bullet {
      width: 18px;
      height: 18px;

      margin-left: 14px;
      margin-right: 14px;
      border-width: 1px;

      &.swiper-pagination-bullet-active {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .services-list {
    display: none;
  }

  .services-slider {
    display: block;
  }
}
