@import './reset';
@import './grid';
@import './scrollbar';
@import './variables';

/* ----- General ----- */
html {
  overflow-x: hidden;
  font-size: 14px;
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &._no-scroll {
    overflow-y: hidden;
  }
}

body {
  overflow-x: hidden;
  height: auto;

  font-family: $font-family-regular;

  counter-reset: section;

  &._no-scroll {
    overflow-y: hidden;
  }
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a, button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: auto;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  height: 100%;

  &._small {
    max-width: $container-small-width;
    padding: 0 20px;
  }

  &._fluid {
    max-width: $container-wide-width;
    padding: 0 20px;
  }

  @media (max-width: $screen-md-max) {
    padding: 0 20px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
}

.row {
  @include make-row;

  &._reverse {
    flex-direction: row-reverse;
  }
}

.flex-row {
  display: flex;
}

.column {
  @include make-column;

  &._reverse {
    flex-direction: column-reverse;
  }

  @media (max-width: $screen-sm-max) {
    &._sm-reverse {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .column-sm-reverse {
    flex-direction: column-reverse;
  }
}

._align-start {
  align-items: flex-start
}

._align-center {
  align-items: center
}

._align-end {
  align-items: flex-end
}

._align-self-end {
  align-self: flex-end
}

._justify-start {
  justify-items: flex-start
}

._justify-end {
  justify-items: flex-end
}

._justify-content-end {
  justify-content: flex-end
}

._justify-content-center {
  justify-content: center
}

._justify-content-between {
  justify-content: space-between
}

._align-self-end {
  align-self: flex-end
}

.spacer {
  flex: 1 1 auto;
}

.masonry {
  @include make-masonry;
}

.raw-content {
  flex: 1 1 auto;
  padding: 130px 0;

  &__title {
    margin-bottom: 60px;

    font-family: $font-family-book;
    font-size: 100px;
    line-height: 1;
    text-align: center;

    span {
      color: $color-accent;
    }
  }

  &__text {
    font-family: $font-family-bold;
    font-size: 20px;
    line-height: 1.3;

    h4+p {
      margin-top: 0;
    }

    p:last-child {
      margin: 0;
    }
  }

  &__message {
    display: block;
    margin-top: 40px;

    font-family: $font-family-bold;
    font-size: 50px;
    line-height: 1;

    text-align: center;
    color: $color-black;
  }

  &__back-link {
    display: block;
    margin: 0 auto;

    font-family: $font-family-light;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 1;

    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;

    color: $color-accent;
  }

  @media (max-width: $screen-sm-max) {
    &__title {
      padding: 0 40px;
      word-break: break-all;
    }

    &__text {
      padding: 0 120px;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding: 80px 0 60px 0;

    &__title {
      margin-bottom: 10px;
      padding: 0;

      font-size: 40px;
      word-break: normal;

      br {
        display: none;
      }
    }

    &__text {
      padding: 0;
    }

    &__message {
      margin-top: 70px;
      font-size: 30px;
    }

    &__back-link {
      font-family: $font-family-regular;
      font-size: 30px;
    }
  }
}

.mb-5 {
  margin-bottom: 20px !important;
}

@import './components/header';
@import './components/hero';
@import './components/maps';
@import './components/footer';
@import './components/sidebar';
@import './components/faq';

@import './components/contacts';
@import './components/feedback';
@import './components/prices';
@import './components/auth-form';
@import './components/can-help';
@import './components/charge-form';
@import './components/about-company';
@import './components/about-partners';
@import './components/about-team';
@import './components/projects-cases';

@import './components/reviews';

@import './components/cases';

@import './pages/services';
@import './pages/about-us';
@import './pages/projects';

@import './shared';
@import './display';

@import './widgets/text-field';
@import './widgets/tooltip';
@import './widgets/accordion';
@import './widgets/modal-dialog';
@import './widgets/select';
@import './widgets/callback';
@import './widgets/badge-widget';

@import './overrides';
