@font-face {
    font-family: 'Futurica';
    src: url('/src/fonts/Futurica.woff2') format('woff2'),
        url('/src/fonts/Futurica.woff') format('woff'),
        url('/src/fonts/Futurica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AGOpusHighResolution';
    src: url('/src/fonts/agopushighresolution-roman.woff2') format('woff2'),
        url('/src/fonts/agopushighresolution-roman.woff') format('woff'),
        url('/src/fonts/agopushighresolution-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
