{{#with hero}}
<section
  id="hero"
  class="hero _about"
>
  <div class="container">
    <h1 class="hero__title">О компании</h1>
    {{> badge-widget message="Бесплатная консультация" }}
  </div>
</section>
{{/with}}
