<section
  id="about-us"
  class="about-us"
>
  <div class="container">
    <div class="choose-us">
      <h3 class="choose-us__title">ПОЧЕМУ <span>МЫ?</span></h3>

      <ul class="choose-us-list row">
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/confidential.png"
            alt=""
          >
            <h6>КОНФИДЕНЦИАЛЬНОСТЬ</h6>
            <p>проведения работ по легализации
            самостроя</p>
        </li>
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/on-time.png"
            alt=""
          >
            <h6>ОПЕРАТИВНОСТЬ</h6>
            <p>принятия положительного
            решения</p>
        </li>
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/target.png"
            alt=""
          >
            <h6>ГАРАНТИЯ</h6>
            <p>положительного
            результата
            по объекту
            недвижимости</p>
        </li>
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/grow.png"
            alt=""
          >
            <h6>БОЛЬШОЙ ОПЫТ</h6>
            <p>взаимодействия с
            органами власти
            города Москвы</p>
        </li>
      </ul>
    </div>

    <div class="company row">
      <div class="col-6">
        <div class="company__history">
          <h5>О КОМПАНИИ</h5>
          <p>Компания Лидер на протяжении долгого времени весьма успешно помогает собственникам нежилых помещений,
            нежилых отдельно стоящих зданий и имущественных комплексов решать вопросы, связанные с
            имущественно-земельными отношениями.</p>
        </div>
        <div class="company__collaborate">
          <button class="btn ">Подробности</button>
          <button class="btn _outlined">Начать сотрудничество</button>
        </div>
      </div>
      <div
        class="company__photo col-6"
        style="background-image:url('/src/images/hands.jpg')"
      >
      </div>
    </div>

    <div class="our-team">
      <h3 class="our-team__title">НАША КОМАНДА</h3>

      <div
        id="team-slider"
        class="team-slider gallery"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide team-slide">
            <div class="row">
              <div class="col-6 team-slide__info">
                <h5 class="team-slide__unit">Юрист общей практики</h5>
                <h6 class="team-slide__name">Успехов Виктор Иванович</h6>
                <div class="team-contacts">
                  <a
                    href="tel:+79055537255"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/phone_white.svg"
                      alt="Позвонить"
                      srcset=""
                    >
                    <span>+7 (905) 553 72 55</span>
                  </a>
                  <a
                    href="mailto:uspeh@mail.ru"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/envelope_white.svg"
                      alt="Написать"
                      srcset=""
                    >
                    <span>uspeh@mail.ru</span>
                  </a>
                </div>
                <p class="team-slide__experience">Окончил Российский государственный университет правосудия и МГЮА им.
                  О.Е. Кутафина. Опыт практической юридической деятельности более 7 лет.</p>
              </div>
              <div class="col-6 team-slide__photo">
                <div class="team-slide__photo-circle"></div>
                <img
                  src="/src/images/young-man.png"
                  alt=""
                >
              </div>
            </div>
          </div>

          <div class="swiper-slide team-slide">
            <div class="row">
              <div class="col-6 team-slide__info">
                <h5 class="team-slide__unit">Юрист общей практики</h5>
                <h6 class="team-slide__name">Успехов Виктор Иванович</h6>
                <div class="team-contacts">
                  <a
                    href="tel:+79055537255"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/phone_white.svg"
                      alt="Позвонить"
                      srcset=""
                    >
                    <span>+7 (905) 553 72 55</span>
                  </a>
                  <a
                    href="mailto:uspeh@mail.ru"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/envelope_white.svg"
                      alt="Написать"
                      srcset=""
                    >
                    <span>uspeh@mail.ru</span>
                  </a>
                </div>
                <p class="team-slide__experience">Окончил Российский государственный университет правосудия и МГЮА им.
                  О.Е. Кутафина. Опыт практической юридической деятельности более 7 лет.</p>
              </div>
              <div class="col-6 team-slide__photo">
                <div class="team-slide__photo-circle"></div>
                <img
                  src="/src/images/young-man.png"
                  alt=""
                >
              </div>
            </div>
          </div>

          <div class="swiper-slide team-slide">
            <div class="row">
              <div class="col-6 team-slide__info">
                <h5 class="team-slide__unit">Юрист общей практики</h5>
                <h6 class="team-slide__name">Успехов Виктор Иванович</h6>
                <div class="team-contacts">
                  <a
                    href="tel:+79055537255"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/phone_white.svg"
                      alt="Позвонить"
                      srcset=""
                    >
                    <span>+7 (905) 553 72 55</span>
                  </a>
                  <a
                    href="mailto:uspeh@mail.ru"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/envelope_white.svg"
                      alt="Написать"
                      srcset=""
                    >
                    <span>uspeh@mail.ru</span>
                  </a>
                </div>
                <p class="team-slide__experience">Окончил Российский государственный университет правосудия и МГЮА им.
                  О.Е. Кутафина. Опыт практической юридической деятельности более 7 лет.</p>
              </div>
              <div class="col-6 team-slide__photo">
                <div class="team-slide__photo-circle"></div>
                <img
                  src="/src/images/young-man.png"
                  alt=""
                >
              </div>
            </div>
          </div>

          <div class="swiper-slide team-slide">
            <div class="row">
              <div class="col-6 team-slide__info">
                <h5 class="team-slide__unit">Юрист общей практики</h5>
                <h6 class="team-slide__name">Успехов Виктор Иванович</h6>
                <div class="team-contacts">
                  <a
                    href="tel:+79055537255"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/phone_white.svg"
                      alt="Позвонить"
                      srcset=""
                    >
                    <span>+7 (905) 553 72 55</span>
                  </a>
                  <a
                    href="mailto:uspeh@mail.ru"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/envelope_white.svg"
                      alt="Написать"
                      srcset=""
                    >
                    <span>uspeh@mail.ru</span>
                  </a>
                </div>
                <p class="team-slide__experience">Окончил Российский государственный университет правосудия и МГЮА им.
                  О.Е. Кутафина. Опыт практической юридической деятельности более 7 лет.</p>
              </div>
              <div class="col-6 team-slide__photo">
                <div class="team-slide__photo-circle"></div>
                <img
                  src="/src/images/young-man.png"
                  alt=""
                >
              </div>
            </div>
          </div>

          <div class="swiper-slide team-slide">
            <div class="row">
              <div class="col-6 team-slide__info">
                <h5 class="team-slide__unit">Юрист общей практики</h5>
                <h6 class="team-slide__name">Успехов Виктор Иванович</h6>
                <div class="team-contacts">
                  <a
                    href="tel:+79055537255"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/phone_white.svg"
                      alt="Позвонить"
                      srcset=""
                    >
                    <span>+7 (905) 553 72 55</span>
                  </a>
                  <a
                    href="mailto:uspeh@mail.ru"
                    class="team-contacts__row"
                  >
                    <img
                      src="/src/images/envelope_white.svg"
                      alt="Написать"
                      srcset=""
                    >
                    <span>uspeh@mail.ru</span>
                  </a>
                </div>
                <p class="team-slide__experience">Окончил Российский государственный университет правосудия и МГЮА им.
                  О.Е. Кутафина. Опыт практической юридической деятельности более 7 лет.</p>
              </div>
              <div class="col-6 team-slide__photo">
                <div class="team-slide__photo-circle"></div>
                <img
                  src="/src/images/young-man.png"
                  alt=""
                >
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-pagination team-slider__pagination"></div>
      </div>
    </div>
  </div>
</section>
