<section
  id="can-help"
  class="can-help"
>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h3 class="can-help__title">
          ЧЕМ МЫ <span>МОЖЕМ</span>
          ВАМ <span>ПОМОЧЬ?</span>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <p class="can-help__message"><span>Мы можем:</span> легализовать объект недвижимости через ГЗК или в судебном порядке. Увеличить земельный участок, внести изменения в ПЗЗ, поменять вид разрешенного использования, оформить договор аренды земельного участка под зданием.</p>
      </div>
    </div>
  </div>
</section>
