<section
  id="feedback"
  class="feedback"
>
  <div class="container">
    <h3 class="feedback__title">Записаться на бесплатную консультацию</h3>

    <form
      id="feedback-form"
      class="feedback-form row"
    >
      <div class="text-field col-4 col-sm-12">
        <input
          type="text"
          id="name"
          name="name"
          class="text-field__input"
          placeholder="Ваше имя"
        >
      </div>

      <div class="text-field col-5 col-sm-12">
        <input
          id="email"
          name="phone"
          placeholder="Ваш телефон"
          type="tel"
          class="text-field__input"
        >
      </div>

      <div class="col-3">
        <button
          class="feedback-form__submit"
          type="submit"
        >Записаться</button>
      </div>
    </form>

    <p class="feedback__note">
      Я согласен на обработку персональных данных, с условиями и содержанием политики конфиденциальности
    </p>
  </div>
</section>
