{{#with header}}
<footer
  id="footer"
  class="footer"
>
  <div class="container row">
    <div class="d-md-none col-2 col-md-5">
      <a
        href="/"
        class="logo__link"
      >
        <svg
          width="184"
          height="41"
          viewBox="0 0 184 41"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M34.128 0.399998V34H26.448V6.736H14.928L14.688 13.744C14.528 18.512 14.144 22.384 13.536 25.36C12.928 28.304 11.904 30.576 10.464 32.176C9.056 33.744 7.072 34.528 4.512 34.528C3.456 34.528 2.176 34.352 0.672 34L1.152 27.424C1.568 27.552 2.032 27.616 2.544 27.616C4.4 27.616 5.696 26.528 6.432 24.352C7.168 22.144 7.632 18.704 7.824 14.032L8.304 0.399998H34.128ZM42.5198 0.399998H50.2478V22.288L66.2798 0.399998H73.5758V34H65.8958V12.16L49.8638 34H42.5198V0.399998ZM116.363 27.664V40.96H109.163V34H85.4513V40.96H78.2513L78.2993 27.664H79.6433C81.6593 27.6 83.0833 26.128 83.9153 23.248C84.7473 20.368 85.2593 16.256 85.4513 10.912L85.8353 0.399998H111.659V27.664H116.363ZM92.3153 11.632C92.1553 15.632 91.8193 18.992 91.3073 21.712C90.7953 24.4 90.0113 26.384 88.9553 27.664H103.979V6.736H92.4593L92.3153 11.632ZM147.614 27.76V34H121.598V0.399998H146.99V6.64H129.326V13.936H144.926V19.984H129.326V27.76H147.614ZM168.439 0.399998C171.415 0.399998 173.991 0.895998 176.167 1.888C178.375 2.88 180.071 4.288 181.255 6.112C182.439 7.936 183.031 10.096 183.031 12.592C183.031 15.056 182.439 17.216 181.255 19.072C180.071 20.896 178.375 22.304 176.167 23.296C173.991 24.256 171.415 24.736 168.439 24.736H161.671V34H153.895V0.399998H168.439ZM168.007 18.4C170.343 18.4 172.119 17.904 173.335 16.912C174.551 15.888 175.159 14.448 175.159 12.592C175.159 10.704 174.551 9.264 173.335 8.272C172.119 7.248 170.343 6.736 168.007 6.736H161.671V18.4H168.007Z"
            fill="white"
          />
        </svg>
      </a>
    </div>

    <ul class="header-menu col-5 col-md-12">
      {{#each menu}}
      <li class="header-menu__item">
        <a
          href="{{this.link}}{{this.anchor}}"
          class="header-menu__item-link"
        >{{this.text}}</a>
      </li>
      {{/each}}
    </ul>

    <div class="col-5 col-md-12">
      <div class="d-flex _justify-content-between mb-5">
        <a
          href="tel:+79055537255"
          class="team-contacts__row"
        >
          <img
            src="/images/phone_white.svg"
            alt="Позвонить"
            srcset=""
          >
          <span>+7 (905) 553 72 55</span>
        </a>
        <a
          href="mailto:lider@mail.com"
          class="team-contacts__row"
        >
          <img
            src="/images/envelope_white.svg"
            alt="Написать"
            srcset=""
          >
          <span>lider@mail.com</span>
        </a>
      </div>

      <div class="d-flex">
        <a
          href=""
          class="team-contacts__row"
        >
          <img
            src="/images/marker_white.svg"
            alt="Адрес"
            srcset=""
          >
          <span>Москва, ул. Пушкина 21, 3 этаж, офис 41</span>
        </a>
      </div>
    </div>
  </div>
</footer>
{{/with}}
