<section
  id="map"
  class="map"
>
  <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A4c0ec29b88ace90544b3c70f708617dd875362bee40cbd048a00ddaf4e3f04f1&amp;source=constructor"
    frameborder="0"
    class="ymaps"
  ></iframe>
</section>
