<section
  id="reviews"
  class="reviews"
>
  <div class="container">
    <h3 class="reviews__title">ЧТО О НАС ГОВОРЯТ?</h3>

    <div
      id="reviews-slider"
      class="reviews-slider gallery"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-slide">
          <div class="row">
            <div class="col-5">
              <img
                src="/images/young-female.jpg"
                alt=""
              >
            </div>
            <div class="col-7">
              <h6 class="reviews-slide__name">Людмила Жданова</h6>

              <img
                src="/images/braces.svg"
                alt=""
                class="reviews-slide__dots"
              >

              <div class="reviews-slide__stars">
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
              </div>
              <p class="reviews-slide__message">Хочу выразить огромную благодарность компании Лидер! Они помогли нам не
                потерять свой дом и узаконить .....</p>

              {{> badge-widget message="ОТЗЫВ ПОЛНОСТЬЮ" }}
            </div>
          </div>
        </div>

        <div class="swiper-slide reviews-slide">
          <div class="row">
            <div class="col-5">
              <img
                src="/images/young-female.jpg"
                alt=""
              >
            </div>
            <div class="col-7">
              <h6 class="reviews-slide__name">Людмила Жданова</h6>

              <div class="reviews-slide__stars">
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
              </div>
              <p class="reviews-slide__message">Хочу выразить огромную благодарность компании Лидер! Они помогли нам не
                потерять свой дом и узаконить .....</p>

              {{> badge-widget message="ОТЗЫВ ПОЛНОСТЬЮ" }}
            </div>
          </div>
        </div>

        <div class="swiper-slide reviews-slide">
          <div class="row">
            <div class="col-5">
              <img
                src="/images/young-female.jpg"
                alt=""
              >
            </div>
            <div class="col-7">
              <h6 class="reviews-slide__name">Людмила Жданова</h6>

              <div class="reviews-slide__stars">
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
                <img
                  src="/images/star.png"
                  alt="Звезда"
                />
              </div>
              <p class="reviews-slide__message">Хочу выразить огромную благодарность компании Лидер! Они помогли нам не
                потерять свой дом и узаконить .....</p>

              {{> badge-widget message="ОТЗЫВ ПОЛНОСТЬЮ" }}
            </div>
          </div>
        </div>
      </div>

      <button
        aria-label="Предыдущий слайд"
        class="reviews-slider__control _prev"
      ></button>
      <button
        aria-label="Следующий слайд"
        class="reviews-slider__control _next"
      ></button>
    </div>
  </div>
</section>
