{{#with services}}
<section class="services">
  <div class="container">
    <ul class="services-list row">
      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/src/images/estate-legal.png')"
      >
        <h5 class="services-list__item-title">Легализация объектов недвижимости</h5>
        <div class="spacer"></div>
        <img
          src="/src/images/arrow-right_white.png"
          alt="Перейти"
          class="_align-self-end"
        />
      </li>

      <li class="services-list__item _dark col-3 col-sm-6">
        <h5 class="services-list__item-title">Оспаривание в судебном порядке</h5>
        <div class="spacer"></div>
        <img
          src="/src/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/src/images/landmark.jpg')"
      >
        <h5 class="services-list__item-title">Работа с земельными участками</h5>
        <div class="spacer"></div>
        <img
          src="/src/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/src/images/building.jpg')"
      >
        <h5 class="services-list__item-title">Выкуп по 159-фз нежилых помещений и зданий</h5>
        <div class="spacer"></div>
        <img
          src="/src/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li class="services-list__item _empty col-3 col-sm-6"></li>

      <li
        class="services-list__item col-3 col-sm-6"
        style="background-image:url('/src/images/estate-consulting.jpg')"
      >
        <h5 class="services-list__item-title">Консультации в сфере недвижимости</h5>
        <div class="spacer"></div>
        <img
          src="/src/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li class="services-list__item col-3 col-sm-6">
        <h5 class="services-list__item-title">Внесение изменений в ПЗЗ</h5>
        <div class="spacer"></div>
        <img
          src="/src/images/arrow-right_white.png"
          alt="Перейти"
          class="services-list__item-link"
        />
      </li>

      <li class="services-list__item _link col-3 col-sm-6">
        <div class="shape">
          <span>ВСЕ УСЛУГИ</span>
        </div>
      </li>
    </ul>
  </div>
</section>
{{/with}}
