<button
  id="menu-button"
  type="button"
  class="sidebar__button hamburger hamburger--spring {{variant}}"
  aria-label="Menu"
  aria-controls="navigation"
>
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

{{#with header}}
<aside id="sidebar" class="sidebar">
  <div class="sidebar__content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi fugiat possimus, veritatis esse sapiente culpa nesciunt libero excepturi quia aliquam tempora quod amet, tempore sunt porro in, iure cumque id?
  </div>
</aside>
{{/with}}
