@import '../variables';

.about-us {

  @media (max-width: $screen-sm-max) {
    .container {
      padding: 0;
    }
  }

  .company {
    gap: 0;
    margin-bottom: 70px;

    background-color: white;

    @media (max-width: $screen-sm-max) {
      margin-bottom: 240px;
    }

    &__history {
      padding: 40px 70px 70px 60px;

      background-color: $color-accent;

      @media (max-width: $screen-sm-max) {
        padding: 30px 20px;
      }

      h5 {
        margin-bottom: 50px;

        font-family: $font-family-book;
        font-size: 64px;
        line-height: 52px;

        @media (max-width: $screen-sm-max) {
          z-index: 1;
          position: absolute;
          top: -430px;
          left: 0;

          width: 100%;

          font-size: 12vw;
          font-weight: bold;
          line-height: 52px;

          text-align: center;
        }
      }

      p {
        color: $color-white;

        font-size: 24px;
        line-height: 26px;

        @media (max-width: $screen-sm-max) {
          line-height: 28px;
        }
      }
    }

    &__collaborate {
      padding: 70px 60px;
      border-left: 1px solid #CECECE;
      border-bottom: 1px solid #CECECE;

      .btn {
        &._outlined {
          min-width: 224px;
        }

        &:not(._outlined) {
          margin-right: 30px;
        }
      }

      @media (max-width: $screen-sm-max) {
        display: flex;
        justify-content: space-between;

        padding: 40px 20px;

        .btn {
          &:not(._outlined) {
            margin-right: auto;
          }
          &._outlined {
            min-width: initial;
            max-width: 170px;
          }
        }
      }
    }

    &__photo {
      @media (max-width: $screen-sm-max) {
        order: -1;
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

  .our-team {
    position: relative;

    color: $color-white;
    background-color: $color-primary;

    @media (max-width: $screen-sm-max) {
      padding: 0 16px;
      background-color: transparent;
    }

    &__title {
      position: absolute;
      top: 40px;
      left: 60px;

      font-size: 64px;

      color: $color-accent;

      @media (max-width: $screen-sm-max) {
        top: -220px;
        left: 0;

        padding: 0 16px;
      }
    }
  }
}

.choose-us {
  padding: 50px;

  background-color: $color-black;

  &__title {
    margin-bottom: 60px;

    color: $color-white;

    font-size: 64px;
    line-height: 52px;

    span {
      color: $color-accent;
    }

    @media (max-width: $screen-sm-max) {
      text-align: center;
      line-height: 58px;
    }
  }

  .choose-us-list {
    gap: 0;

    padding: 0 30px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      font-family: $font-family-book;
      font-weight: bold;

      color: $color-white;

      &:not(:last-child) {
        border-right: 1px solid $color-accent;
        @media (max-width: $screen-sm-max) {
          border-right: none;
          border-bottom: 1px solid $color-accent;
        }
      }

      h6 {
        margin-bottom: 12px;
        font-size: 16px;
      }

      p {
        font-size: 14px;
        white-space: pre-line;
        @media (max-width: $screen-sm-max) {
          margin-bottom: 24px;
        }
      }

      img {
        margin-top: 18px;
        margin-bottom: 32px;
        max-height: 90px;

        @media (max-width: $screen-sm-max) {
          margin-top: 24px;
        }
      }
    }
  }
}

.team-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 32px;

  &__row {
    display: flex;
    align-items: center;

    color: $color-white;

    font-size: 18px;
    line-height: 26px;

    img {
      margin-right: 6px;
    }
  }
}

.team-slider {
  overflow: hidden;

  width: 100%;
  height: 100%;

  @media (max-width: $screen-sm-max) {
    overflow: visible;
    background-color: $color-primary;

    .team-slide {
      margin-top: -50px;
    }
  }

  .team-slide {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

    &__info {
      padding: 160px 0 70px 130px;

      @media (max-width: $screen-sm-max) {
        text-align: center;
        padding: 30px 20px;
      }
    }

    &__unit {
      margin-bottom: 8px;

      font-size: 24px;
      line-height: 26px;
    }

    &__name {
      margin-bottom: 16px;
      font-size: 35px;
      font-family: $font-family-book;
      line-height: 52px;
    }

    &__experience {
      font-size: 18px;
      line-height: 26px;
    }

    &__photo {
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        left: 5%;

        z-index: 100;
      }

      @media (max-width: $screen-sm-max) {
        order: -1;
        margin-top: -30px;

        img {
          position: relative;
          bottom: initial;
          left: -15%;
          width: 100%;
        }
      }
    }

    &__photo-circle {
      position: absolute;
      top: 60%;
      left: 50%;

      width: 312px;
      height: 312px;

      background-color: #EFF5EB;

      border-radius: 50%;

      transform: translate(-50%, -50%);

      @media (max-width: $screen-sm-max) {
        z-index: -1;
      }
    }
  }

  &__pagination {
    position: static !important;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;

    background-color: $color-white;

    border: 1px solid #CECECE;
    border-top: none;
  }

  &__pagination-bullet {
    display: block;

    width: 24px;
    height: 24px;

    margin-left: 28px;

    background-color: $color-primary;
    cursor: pointer;

    border-radius: 50%;
    border: 3px solid $color-white;
    transition: all .2s ease-in-out;

    &.swiper-pagination-bullet-active {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }

  @media (max-width: $screen-sm-max) {
    &__pagination {
      bottom: 20px;
      right: 20px
    }

    &__pagination-bullet {
      width: 18px;
      height: 18px;

      margin-left: 14px;
      margin-right: 14px;
      border-width: 1px;

      &.swiper-pagination-bullet-active {
        width: 24px;
        height: 24px;
      }
    }
  }

  @media (max-width: $screen-xs-max) {
    &__pagination {
      bottom: 40px;
      right: 20px
    }
  }
}
