<section
  id="about-team"
  class="about-team"
>
  <div class="container">
    <h3 class="about-team">НАША КОМАНДА</h3>

    <div class="team-grid">
      <ul class="team-grid__column">
        <li class="team-grid__item">
          <div class="team-grid__item-circle"></div>
          <img
            src=""
            alt=""
            class="team-grid__item-photo"
          />
          <span class="team-grid__item-position">Юрист общей практики</span>
          <h6 class="team-grid__item-fullname">Никитина Света Павловна</h6>
          <div class="row team-grid__item-contacts">
            <span class="col-6">uspeh@mail.ru</span>
            <span class="col-6">+7 (000) 123-45-67</span>
          </div>
          <p class="team-grid__item-description">
            Окончил Российский государственный университет правосудия и МГЮА им. О.Е. Кутафина. Опыт практической
            юридической деятельности более 7 лет.
          </p>
        </li>
      </ul>
      <ul class="team-grid__column"></ul>
    </div>
  </div>
</section>
