<section
  id="about-team"
  class="about-team"
>
  <div class="container">
    <h3 class="about-team__title">НАША КОМАНДА</h3>

    <div class="team-grid row">
      <ul class="team-grid__column col-4">
        <li class="team-grid__item">
          <div class="team-grid__item-circle"></div>
          <img
            src="/src/images/beautiful-young-woman.png"
            alt=""
            class="team-grid__item-photo"
          />
          <span class="team-grid__item-position">Юрист общей практики</span>
          <h6 class="team-grid__item-fullname">Никитина Света Павловна</h6>
          <div class="team-grid__item-contacts">
            <span class="team-grid__item-contacts-item _email">uspeh@mail.ru</span>
            <div class="spacer"></div>
            <span class="team-grid__item-contacts-item _phone">+7 (000) 123-45-67</span>
          </div>
          <p class="team-grid__item-description">
            Окончил Российский государственный университет правосудия и МГЮА им. О.Е. Кутафина. Опыт практической
            юридической деятельности более 7 лет.
          </p>
        </li>

        <li class="team-grid__item">
          <div class="team-grid__item-circle"></div>
          <img
            src="/src/images/beautiful-young-woman.png"
            alt=""
            class="team-grid__item-photo"
          />
          <span class="team-grid__item-position">Юрист общей практики</span>
          <h6 class="team-grid__item-fullname">Никитина Света Павловна</h6>
          <div class="team-grid__item-contacts">
            <span class="team-grid__item-contacts-item _email">uspeh@mail.ru</span>
            <div class="spacer"></div>
            <span class="team-grid__item-contacts-item _phone">+7 (000) 123-45-67</span>
          </div>
          <p class="team-grid__item-description">
            Окончил Российский государственный университет правосудия и МГЮА им. О.Е. Кутафина. Опыт практической
            юридической деятельности более 7 лет.
          </p>
        </li>
      </ul>

      <ul class="team-grid__column col-4">
        <li class="team-grid__item">
          <div class="team-grid__item-circle"></div>
          <img
            src="/src/images/beautiful-young-woman.png"
            alt=""
            class="team-grid__item-photo"
          />
          <span class="team-grid__item-position">Юрист общей практики</span>
          <h6 class="team-grid__item-fullname">Никитина Света Павловна</h6>
          <div class="team-grid__item-contacts">
            <span class="team-grid__item-contacts-item _email">uspeh@mail.ru</span>
            <div class="spacer"></div>
            <span class="team-grid__item-contacts-item _phone">+7 (000) 123-45-67</span>
          </div>
          <p class="team-grid__item-description">
            Окончил Российский государственный университет правосудия и МГЮА им. О.Е. Кутафина. Опыт практической
            юридической деятельности более 7 лет.
          </p>
        </li>

        <li class="team-grid__item">
          <div class="team-grid__item-circle"></div>
          <img
            src="/src/images/beautiful-young-woman.png"
            alt=""
            class="team-grid__item-photo"
          />
          <span class="team-grid__item-position">Юрист общей практики</span>
          <h6 class="team-grid__item-fullname">Никитина Света Павловна</h6>
          <div class="team-grid__item-contacts">
            <span class="team-grid__item-contacts-item _email">uspeh@mail.ru</span>
            <div class="spacer"></div>
            <span class="team-grid__item-contacts-item _phone">+7 (000) 123-45-67</span>
          </div>
          <p class="team-grid__item-description">
            Окончил Российский государственный университет правосудия и МГЮА им. О.Е. Кутафина. Опыт практической
            юридической деятельности более 7 лет.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
