<section
  id="about-company"
  class="about-company"
>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h3 class="about-company__title">
          КОМПАНИЯ
          <span>ЛИДЕР</span>
        </h3>
        <p class="about-company__message"> на протяжении долгого времени весьма успешно помогает собственникам нежилых
          помещений, нежилых отдельно стоящих зданий и имущественных комплексов решать вопросы, связанные с
          имущественно-земельными отношениями. </p>
      </div>

      <div class="col-7">
        <img
          src="/src/images/folder-with-docs.jpg"
          alt=""
        >
      </div>
    </div>

    <div class="choose-us">
      <ul class="choose-us-list row">
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/confidential.png"
            alt=""
          >
          <h6>КОНФИДЕНЦИАЛЬНОСТЬ</h6>
          <p>проведения работ по легализации
            самостроя</p>
        </li>
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/on-time.png"
            alt=""
          >
          <h6>ОПЕРАТИВНОСТЬ</h6>
          <p>принятия положительного
            решения</p>
        </li>
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/target.png"
            alt=""
          >
          <h6>ГАРАНТИЯ</h6>
          <p>положительного
            результата
            по объекту
            недвижимости</p>
        </li>
        <li class="col-3 col-sm-12">
          <img
            src="/src/images/grow.png"
            alt=""
          >
          <h6>БОЛЬШОЙ ОПЫТ</h6>
          <p>взаимодействия с
            органами власти
            города Москвы</p>
        </li>
      </ul>
    </div>

    <div class="about-company__text">
      <p>Обращаясь в нашу компанию, Вы можете быть уверены, что Вашим случаем занимаются высококлассные специалисты, прошедшие серьёзную школу государственной службы в таких органах исполнительной власти как: Росреестр, Департамент городского имущества г. Москвы, Госинспекция по недвижимости г. Москвы, МосКомАрхитектура, БТИ, Объединенная административно-техническая инспекция г. Москвы, Комитет государственного строительного надзора г. Москвы, Департамент культурного наследия города Москвы, а также ведущих мировых консалтинговых компаний.</p>
      <p>Также наши специалисты знакомы с проведением всех процессов изнутри, знают все «подводные камни» и обладают умением обходить их исключительно в рамках регламентов органов исполнительной власти и правового поля.</p>
      <p>Наши специалисты в любом случае окажут Вам квалифицированную юридическую помощь, уберегут от неправильных решений и сохранят Ваше имущество и средства.</p>
      <p>Принцип «due diligence» является основным и незыблемым условием работы нашей организации, что позволяет нам считать себя одними из лучших в своем деле и давать практически 100% гарантию успеха.</p>
    </div>
  </div>
</section>
