<div class="callback">
  <div class="callback__row">
    <img
      src="/images/phone_white.svg"
      alt="Позвонить"
      srcset=""
      class="callback__icon"
    >
    <span class="callback__phone">+7 (905) 553 72 55</span>
  </div>
  <hr>
  <div class="callback__row _last">
    <span class="callback__message">Обратный звонок</span>
  </div>
</div>
