<section
  id="contacts-list"
  class="contacts-list"
>
  <div class="container">
    <ul class="contacts-list-wrapper">
      <li>
        <a href="mailto:lider@mail.com">
          <img
            src="/images/envelope_white.svg"
            alt="Написать"
            srcset=""
          >
          <span>lider@mail.com</span>
        </a>
      </li>
      <li>
        <a href="tel:+79055537255">
          <img
            src="/images/phone_white.svg"
            alt="Позвонить"
            srcset=""
          >
          <span>+7 (905) 553 72 55</span>
        </a>
      </li>
      <li>
        <a href="//yandex.ru/maps/-/CCU5BTDiSD">
          <img
            src="/images/marker_white.svg"
            alt="Адрес"
            srcset=""
          >
          <span>Москва, ул. Пушкина 21, 3 этаж, офис 41</span>
        </a>
      </li>
    </ul>
  </div>
</section>
