{{#with projects}}
<section
  id="our-cases"
  class="our-cases _projects"
>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-12">
        <h3 class="our-cases__title">
          НАШИ
          <span>КЕЙСЫ</span>
        </h3>
        <p class="our-cases__message">Можно много говорить о том, что мы стоим на страже интересов наших клиентов. Но лучше один раз увидеть, чем сто раз услышать. Посмотрите выигранные нами дела. Каждое из них – это непростая проблема, возникшая у нашего клиента. И в каждом из них мы сделали все возможное, чтобы найти лучшее решение.</p>
      </div>

      <div class="col-6 col-md-12 _picture">
        <img
          src="/images/documents.jpg"
          alt=""
        >
      </div>
    </div>

    <ul class="projects-list">
      {{#each list}}
      {{> projects-item projectItem=this }}
      {{/each}}
    </ul>
  </div>
</section>
{{/with}}
